@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #081b29;
    color: #ededed; 
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #081b29;
}

.logo {
    font-size: 20px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
}

.blob {
    background-image: url(blobblob.jpg);
    width: 380px;
    height: 380px;
    background-size: cover;
    background-position: center center;
    margin: 20px;
    box-shadow: 0 5px 5px 5px #000000;
    animation: animate 5s ease-in-out infinite;
}

@keyframes animate {
    0%, 100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 30% 60% 30%;
    }
    
}

.home-content { 
    max-width: 600px;
}

.home-content h1 {
    font-size: 32px;
    font-weight: 700;
}

.home-content h3 {
    font-size: 60px;
    font-weight: 700;
    background-image: linear-gradient(#c0392b, #8e44ad);
    background-clip: text;
    color: transparent;  
}

.home-content h2 {
    font-size: 40px;
    font-weight: 500;
    background-image: linear-gradient(#c91a06, rgb(20, 20, 97));
    background-clip: text;
    color: transparent;
}

.home-content h4 {
    font-size: 40px;
    font-weight: 400;
    background-image: linear-gradient(#83271c, rgb(20, 20, 73));
    background-clip: text;
    color: transparent;
}

.home-content p {
    position: relative;
    font-size: 16px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
}

.about-content {
    max-width: 600px;
}

.about h2 {
    font-size: 56px;
    font-weight: 700;
    transition: .3s;
}

.about h2:hover {
    color: #1a5597;
}
.about h3 {
    font-size: 32px;
    font-weight: 700px;
    background-image: linear-gradient(#1a5597, #3ad093);
    background-clip: text;
    color: transparent;
}

.about p {
    position: relative;
    font-size: 16px;
}

.abtpfp {
    background-image: url(abtpp.jpg);
    width: 380px;
    height: 380px;
    background-size: cover;
    background-position: center center;
    margin: 20px;
    box-shadow: 0 5px 5px 5px #000000;
    animation: animate 5s ease-in-out infinite;
}

.skills {
    height: 100vh;  
}

.skill-content {
    max-width: 600px;
}

.skills h2 {
    font-size: 56px;
    font-weight: 700;
    position: absolute;
    top: 220%;
    left: 45%;
    
}

.artist img{
    position: absolute;
    top: 240%;
    left: 18%;
    width: 300px;
    height: 200px;
    border: 2px;
    border-radius: 13px;
}

.designer img{
    position: absolute;
    top: 240%;
    left: 41%;
    width: 300px;
    height: 200px;
    border: 2px;
    border-radius: 13px;
}

.developer img{
    position: absolute;
    top: 240%;
    left: 64%;
    width: 300px;
    height: 200px;
    border: 2px;
    border-radius: 13px;
}

.cplus img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 285%;
    left: 35%; 
}

.java img{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 285%;
    left: 45%; 
}

.html img{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 285%;
    left: 55%; 
}

.css img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 285%;
    left: 65%; 
}


.txt1{
    position: absolute;
    top: 275%;
    left: 25%;
    font-weight: 700;
    font-size: 30px;
}

.txt2{
    position: absolute;
    top: 275%;
    left: 45%;
    font-weight: 700;
    font-size: 30px;
}
.txt3{
    position: absolute;
    top: 275%;
    left: 67%;
    font-weight: 700;
    font-size: 30px;
}

.works {
    height: 150vh; 
    text-align: center;
    padding-top: 100px;
}

.works-content{
    display: grid;
    margin: 0 auto;
    max-width: 960px;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
}

.works-content div {
    border-radius: 3%;  
}

.grid1 {
   display: flex;
   justify-content: center;
    grid-column: 1/6;
    grid-row: 1/3;
}

.grid1 video {
    border-radius: 3%;
    position: flex;
    align-items: center;
    width: 1100px;
    height: 300px;
}

.grid2 {
    background-image: url(works1.jpg);
    width: 420px;
    height: 300px;
    background-size: cover;
    background-position: center center;
    grid-column: 6/10;
    grid-row: 1/3;
}

.grid3 {
    grid-column: 1/4;
    grid-row: 3/5;
}

.grid3 video {
    display: flex;
    justify-content: center;
    width: auto;
    height: 300px;
    border-radius: 5%;
}

.grid4 {
    background-image: url(cer.jpg);
    width: auto;
    height: 300px;
    background-size: cover;
    background-position: center center;
    grid-column: 4/10;
    grid-row: 3/5;
}

.grid5 {
    background-image: url(porsche911.jpg);
    width: auto;
    height: 300px;
    background-size: cover;
    background-position: center center;
    grid-column: 1/7;
    grid-row: 7/5;
}

.grid6 {
    grid-column: 7/10;
    grid-row: 7/5;

}

.grid6 video {
    display: flex;
    justify-content: center;
    width: 330px;
    height: 300px;
    border-radius: 5%;
}


.blog {
    height: 100vh;
}

.blog-content {
    width: 600px;
}

.blog-content h2 {
    font-size: 52px;
    font-weight: 700;
    display: flex;
    padding: 80px;
}

.contact {
    height: 100vh;
}

.contact-content {
    width: 600px;
}

.contact-content h2 {
    font-size: 52px;
    font-weight: 700;
    display: flex;
    padding: 80px;
}